.fetch-form, .leaderboard {
  background: white;
  border-radius: 6px;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  &__label {
    display: block;
  }
  &__select {
    appearance: none;
    margin: 15px 0;
  }
  &__submit {
    @include button;
  }
  &__select {
    @include formfield;
  }
}

.mobile-button {
  display: none;
}

@media (max-width: 767px) {
  .fetch-form {
    background: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    position: relative;
    &__container {
      width: calc(50% - 2.5px);
    }
    &__label {
      font-size: 12px;
    }
    &__select {
      margin: 5px 0;
      font-size: 14px;
    }
    &__submit {
      width: calc(100% - 109.75px);
      position: relative;
      font-size: 14px;
    }
  }

  .mobile-button {
    display: block;
    background: darken(lightgrey, 20);
    border: none;
    width: 104.75px;
    height: 32px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: right 0.5s, width 0.5s;
  }

  .mobile-button.opened {
    position: absolute;
    right: calc(70% + 5px);
  }
}