.fetch-form, .leaderboard {
  background: white;
  border-radius: 6px;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  &__label {
    display: block;
    &::after {
      content: "";
      background-image: url('/public/assets/icons/sort-down.svg');
      height: 25px;
      width: 25px;
    }
  }
  &__select {
    appearance: none;
    margin: 15px 0;
  }
  &__submit {
    @include button;
  }
  &__select {
    @include formfield;
  }
}